<!-- navbar -->

<nav class='toolbar'>Welcome to the demo app!</nav>

<!-- content -->

<div class="left content">
  <form action="/submit" method="POST">
    <table>
        <th>Application Form</th>
        <tr>
            <td>Name of Adopter: </td>
            <td><input type="text" name="adopter" id="adopter"></td>
        </tr>
        <tr>
            <td>Phone number: </td>
            <td><input type="number" name="phone" id="phone"></td>
        </tr>
        <tr>
            <td>Rescue Pet Id: </td>
            <td><input type="number" name="pet" id="pet"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>

    </table>


  </form>
</div>

<div class="right content">
  <table>
  <th>Adoption Records</th>
  <tr>
    <td width="30%">Adopter</td>
    <td width="30%">Phone No.</td>
    <td width="30%">Rescue Pet Id</td>
  </tr>

  </table>
</div>

<h2>Current Rescues</h2>
  <video controls>
    <source src="assets/puppy_intro.mp4" type="video/mp4">
  </video>
  
  <div class="card">
    <img src="assets/pomeranian01.jpg" alt="pomeranian">
    <audio controls>
      <source src="assets/pomeranian_bark.mp3" type="audio/mp3">
      <p>Your browser does not support HTML5 audio. Click <a href="assets/pomeranian_bark.mp3">here</a> to listen to the audio instead.</p>
    </audio>
  </div>  
  <div class="card">
    <img src="assets/spitz.jpg" alt="spitz">
    <audio controls>
      <source src="assets/spitz_bark.mp3">
    </audio>
  </div>

